.page-header
  = link_to quote_sources_path, :class => 'btn' do
    %i.icon-list-alt
    Back
  = link_to edit_quote_source_path(@quote_source), :class => 'btn btn-primary' do
    %i.icon-pencil.icon-white
    Edit
  %h1 Listing quote_sources

%dl
  %dt Source url:
  %dd= @quote_source.source_url
  %dt Api url:
  %dd= @quote_source.api_url
  %dt Source name:
  %dd= @quote_source.source_name
  %dt Response type:
  %dd= @quote_source.response_type
  %dt Quote reference:
  %dd= @quote_source.quote_reference
  %dt Permalink reference:
  %dd= @quote_source.permalink_reference
  %dt Author reference:
  %dd= @quote_source.author_reference
